.App {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.btnChangeTheme {
    background-color: #e7fdd8;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px red;
    padding: 10px;
    cursor: pointer;
}

.whiteTheme {
    background-color: white;
}

.blackTheme {
    background-color: yellow;
}

